%sf-regular {
    font-family: 'SFProDisplay-Regular' , sans-serif;
    font-weight: 400;
}

%ubuntu-light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

%ubuntu-regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

%ubuntu-medium {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

%ubuntu-bold {
    font-family: 'Ubuntu',
        sans-serif;
    font-weight: 700;
}

%sf-semibold {
    font-family: 'SFProDisplay-Senibold',
        sans-serif;
    font-weight: 600;
}

%sf-Medium {
    font-family: 'SFProDisplay-Medium',
        sans-serif;
    font-weight: 400;
}